<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>南宁铁路公安局反恐情报信息研判平台</title>
		<link rel="stylesheet" type="text/css" href="../../src/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../../src/js/dhtmlx/codebase/dhtmlx.css">
		<link rel="stylesheet" type="text/css" href="../../src/css/tickets.css" />
	</head>

	<body>
		<!-- 头部 -->
		<div class="header" id="header">
			<h1 class="logo">
				<a href="javascript:;" title="南宁铁路公安局反恐情报信息研判平台">
					<img src="../../src/img/logo2.png" alt="南宁铁路公安局反恐情报信息研判平台">
					
				</a>
			</h1>
			<div class="pro_info">
				<ul class="top-menu">
					<li class="user" id="userLi">
						<a href="javascript:;"><img src="../../src/img/head.png" alt=""> <span id="userName"> admin </span> </a>
					</li>
					
					<li class="user" id="logout">
						<a href="javascript:;"><i class="ico-out"></i><span> 退出 </span> </a>	
					</li>
				</ul>
			</div>
		</div>
		<!-- 左侧 -->
		<!-- <div class="side-top"><a href="javascript:void(0)"></a></div> -->
		<div class="menu_main" id="sidebar">
			<div id="toggleBtn"class="toggleBtn"></div>
			<ul class="menu_nav" id="sidebarMenuUl">
               
            </ul>
		</div>
		<!-- 右侧 -->
		<div class="content" id="content">
			<div class="main">
				<div class="tab tab_tips">
					<div class="tab-hd">
						<ul id="tipsUl"></ul>
					</div>
					<div class="tab-bd tab_iframe" id="tabIframe">
						
					</div>
				</div>
			</div>
		</div>
		<div class="footer" id="footer"><span class="fl">© 版权所有:南宁铁路局公安反恐情报信息研判平台</span><span class="fr">2.0.0.1</span></div>
        <script src="../../src/js/common/jquery.min.js"></script>
		<script src="../../src/js/common/config.js"></script>
		<script src="../../src/js/common/common.js"></script>
        <script src="../../src/js/common/compatible_ie8.js"></script>
		<script src="../../src/js/dhtmlx/codebase/dhtmlx.js"></script>
		<script src="../../src/js/common/cookies.js"></script>
        <script src="../../src/js/inner/tickets.js"></script>
       
	</body>

</html>