html,body{
    min-height: 100%;
    background: url("../img/login_src_bg.png") center;
}
.home_wrap{
    position:relative;
    width: 1600px;
    margin: 0 auto;
}
.home_logo img{
    margin: 0 auto;
    display: block;
}
.home_logo{
    text-align: center;
    padding-top: 30px;
}
.login_info{
    position: absolute;
    top:8%;
    right: 0%;
    color: #fff;
    font-size: 18px;
}
.login_info span{
    cursor: pointer;
}
.login_name {
    color: #FF9702;
    margin-right: 10px;
}
.login_out img {
    width: 18px;
}
.home_entrance{
    margin: 40px auto;
}
.home_entrance .entra_list{
    float: left;
    width: 25%;
    color: #01C8D8;
    font-size: 16px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.home_entrance .entra_list span{
    position: absolute;
    top: 26px;
    left: 45%;
}
.home_entrance .entra_list img{
    margin: 0 auto;
}
.home_nav dl{
    margin-bottom: 40px;
}
.home_nav .home_nav_left{
    float: left;
    width: 22%;
    position: relative;
}
.home_nav_left img{
    width: 148px;
}
.home_nav .home_nav_left:after{
    content: "";
    width: 20px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 24px;
    margin-top:-3px;
    background-color: #1CECFE;
}
.home_nav_left .home_nav_tit{
    position: absolute;
    top: 50%;
    left: 160px;
    margin-top: -24px;
    color: #1CECFE;
}
.home_nav_tit .tit_cn{
    font-size: 18px;
    font-weight: bold;
}
.home_nav .home_nav_right{
    float: right;
    width: 78%;
}
.home_nav_right ul li{
    float: left;
    text-align: center;
    padding: 7px 9px;
    margin-bottom:40px;
    margin-right: 30px;
    background: url("../img/list_border.png") center no-repeat;
}
.home_nav_right ul li>a{
    background-color: #049DB3;
    color: #BCF3FD;
    cursor: pointer;
    font-size: 14px;
    width: 130px;
    height: 130px;
    display: block;
}
.home_nav_right ul li>a:hover{
    background-color: #04B1CA;
}
.home_nav_right ul li img{
    margin: 0 auto;
    display: block;
    padding-top: 17px;
    width: 60px;
}
.home_nav_right ul li p{
    padding: 10px 10px 0;
    line-height: 1.3;
}
.home_foot{
    height: 45px;
    color: #BCF3FD;
    font-size: 14px;
    text-align: center;
    line-height: 45px;
    background: url("../img/home-foot.png") center no-repeat;
    background-size: 100% 100%;
}
/*媒介查询*/
@media screen and (max-width: 1700px) {
    .home_wrap{
        width: 1200px;
    }
    .home_logo img {
        width: 632px;
    }
    .home_nav_left img{
        width: 108px;
    }
    .home_entrance{
        margin: 30px auto 20px;
    }
    .home_entrance .entra_list img{
        width: 210px;
    }
    .home_nav dl {
        margin-bottom: 16px;
    }
    .home_nav .home_nav_left{
        width: 300px;
    }
    .home_nav_left .home_nav_tit{
        left: 114px;
    }
    .home_nav .home_nav_right{
        width: 74%;
    }
    .home_nav_right ul li{
        margin-bottom: 10px;
        margin-right: 17px;
        padding: 6px 7px;
        background: url("../img/list_smborder.png") center no-repeat;
    }
    .home_nav_right ul li>a{
        width: 95px;
        height: 94px;
    }
    .home_nav_right ul li img{
        width: 41px;
        padding-top: 10px;
    }
    .home_nav_right ul li p{
        padding: 8px 0px 0px;
        font-size: 12px;
    }
    .home_foot{
        background-size: 100% 100%;
    }
}
